[user]
  name = Eubene Sa
  email = eubene.sa@gmail.com
[branch]
  autosetuprebase = always
[color]
  ui = true
[core]
  excludesfile = /Users/esa/.gitignore_global
[credential]
  helper = osxkeychain
[push]
  default = simple
